/* common */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.flash {
    width: 500px;
    margin: 0 auto;
}

.usual-form {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}

.identikit-form {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.form-colored {
    background-color: lightpink;
    border-radius: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* quest-block-2 */

button.tablinks {
    width: 130px;
}

button.next {
    width: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainbox {
    width: 1690px;
    height: 860px;
    background-color: lightpink;
}

.identikit {
    width: 400px;
    height: 440px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.selectbox {
    width: 1200px;
    height: 800px;
    background-color: mintcream;
    border-radius: 20px;
}

.tabcontent {
    display: none;
    flex-wrap: wrap;
    align-content: center;
}

.imgkit {
    position: absolute;
    left: 18px;
    top: 36px;
}

.cross {
    background: none;
    border: none;
}

.hair_kit {
    z-index: 0;
}

.beard_kit {
    z-index: 1;
}

.eyes_kit {
    z-index: 1;
}

.nose_kit {
    z-index: 1;
}

.lips_kit {
    z-index: 1;
}

.brows_kit {
    z-index: 2;
}

.addition_kit {
    z-index: 3;
}

.image-check {
    visibility: hidden;
}

/* person-page */

.person-form {
    width: 1220px;
    height: 600px;
    padding: 10px;
    background-color: lightpink;
}

.person-card {
    width: 600px;
    padding: 10px;
    background-color: whitesmoke;
}

.person-identikit {
    width: 380px;
    height: 380px;
    margin-top: 20px;
    position: relative;
    background-color: crimson;
    border-radius: 50%;
    overflow: hidden;
}

.person-image-kit {
    position: absolute;
    left: 15px;
    top: -10px;
}

.person-card-content {
    width: 440px;
}

.person-control {
    width: 200px;
    border: none;
}

.form-part {
    width: 600px;
    padding: 10px;
    background-color: lightgray;
}

/* view-page */

button.view-page {
    background-color: #fff;
    border: none;
}

.view-page-cards-box {
    min-width: 800px;
    width: 1120px;
    display: flex;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    flex-flow: row;
    margin: 0 auto;
}

.view-page-card {
    width: 345px;
    height: 385px;
    padding: 5px;
    margin: 5px;
    background-color: lightpink;
}

.view-page-image-card {
    height: 333px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 50%;
    overflow: hidden;
}

.view-page-image-pos {
    position: absolute;
    top: 0px;
    left: 0px;
}

.view-page-card-content {
    position: absolute;
    top: 320px;
    left: 0px;
    overflow: hidden;
}
