#content {
    display: none;
}

#preload {
    display: block;
    margin-top: 200px;
}

.isVisible {
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
}

.isHidden {
    display: none !important;
}

.main-footer {
    margin-top: auto;
}

/* forms */

.min-width-480 {
    min-width: 480px;
}

.width-620 {
    min-width: 620px;
    max-width: 620px;
}

.invisible {
    visibility: hidden;
}

input[type="radio"]:checked + figure {
    border: 4px solid lightblue;
    border-radius: 50%;
}

input[type="radio"]:checked + label > figure {
    border: 4px solid lightblue;
    border-radius: 20%;
}

/* REBUILD */

.min-width-navbar {
    min-width: 500px;
}

.person-image-card {
    position: relative;
    margin: 0 auto;
}

.identikit {
    min-height: 430px;
    width: 400px;
    height: 430px;
    position: relative;
}

.button-margin {
    margin-top: 345px;
}
/* 
.select-box {
    width: 870px;
    height: 650px;
} */

.select-box::-webkit-scrollbar, .tabs::-webkit-scrollbar {
    width: 12px;
    background-color: aliceblue;
    border-radius: 20px;
}

.select-box::-webkit-scrollbar-track, .tabs::-webkit-scrollbar-track {
    background: none;
}

.select-box {
    overflow-y: scroll;
}

.select-image label {
    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgkit {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
}

.tabcontent {
    display: none;
    flex-wrap: wrap;
    align-content: center;
}

.cross {
    background: none;
    border: none;
}

.hair_kit {
    z-index: 0;
}

.beard_kit, .eyes_kit, .nose_kit, .lips_kit {
    z-index: 2;
}

.brows_kit {
    z-index: 4;
}

.addition_kit {
    z-index: 6;
}

.image-check {
    visibility: hidden;
    display: none;
}

/* person-page */

.person-images-box {
    height: 400px;
}

.person-image-box {
    max-width: 340px;
    max-height: 340px;
    margin: auto;
}

.person-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

/* view-page */

button.view-page {
    background-color: #fff;
    border: none;
}

.vp-a {
    display: flex;
    flex-basis: 280px;
    flex-grow: 1;
    justify-content: center;
}

.vp-wrap {
    min-width: 0;
    max-width: 940px;
    display: flex;
    flex-direction: row!important;
    flex-wrap: wrap!important;
    justify-content: center;
    margin: 0 auto;
}

.vp-card {
    width: 280px;
    height: 385px;
    padding: 5px;
    margin: 5px;
}

.vp-image-card {
    height: 333px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.vp-image-pos {
    position: absolute;
    top: 0px;
    left: 0px;
}

.identikit-wrap-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.identikit-wrap-column-image {
    flex-basis: 300px;
}

.identikit-wrap-column-select {
    flex-basis: 460px;
    max-width: 100%;
    min-width: 0;
    flex-grow: 1;
}
