.form-500w {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightpink;
}

.central-div-200 {
    width: 200px;
    margin: 0 auto;
}

.central-div-500 {
    width: 500px;
    margin: 0 auto;
}

.button-as-link {
    padding: 0!important;
    background: none!important;
    border: none;
    color: #069;
    cursor: pointer;
    text-decoration: underline;
    font-family: arial, sans-serif;
}