<!DOCTYPE html>
<html lang="en">

<head>
    {% block head -%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else -%}
    <title>Pairmaker</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock head -%}
</head>

<body>
    <div id="preload">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-half">
                <progress class="progress is-large is-info" max="100">60%</progress>
            </div>
            <div class="column"></div>
        </div>

    </div>
    <div id="content" class="main-page">
        {% block basecontent -%}
        {% include 'navbar.html' %}
        <div class="columns is-mobile">
            <div class="column"></div>
            <div class="column is-half">
                {% include 'flash.html' %}
                {% block content -%}
                {% endblock content -%}
            </div>
            <div class="column"></div>
        </div>
        {% include 'footer.html' %}
        {% endblock basecontent -%}
    </div>

    <script src="{{ url_for('static', filename='js/preload.js') }}"></script>
</body>

</html>