<form action="{{ url_for('quest_block_5_upload') }}" method="post" enctype="multipart/form-data">

    <p class="has-text-centered is-size-4 mt-3">Загрузите своё настоящее фото</p>
    <div class="columns mb-3">
        <div class="column"></div>
        <div class="column is-three-quarters min-width-480">
            <div id="file-js-example" class="file is-fullwidth is-info has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="file" accept="image/jpeg, image/png" required>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Выбрать файл
                        </span>
                    </span>
                    <span class="file-name">
                        Файл не больше 3Мб
                    </span>
                </label>
            </div>
        </div>
        <div class="column"></div>
    </div>
    <hr>
    <p class="has-text-centered is-size-4">Укажите ссылки свои на соцсети или номер телефона</p>
    <div class="columns mb-1">
        <div class="column"></div>
        <div class="column is-three-quarters">
            <div class="my-2">
                <img src="{{ url_for('static', filename='img/ico/social/vk.png') }}" width="40" height="40">
                <img src="{{ url_for('static', filename='img/ico/social/inst.png') }}" width="40" height="40">
                <img src="{{ url_for('static', filename='img/ico/social/tel.png') }}" width="40" height="40">
            </div>
            <div class="my-2">
                <label for="">Ссылка на вконтакте
                    <input class="input" type="text" placeholder="https://vk.com/" name="link_vk">
                </label>
            </div>
            <div class="my-2">
                <label for="">Ссылка на инстраграм
                    <input class="input" type="text" placeholder="https://www.instagram.com/" name="link_inst">
                </label>
            </div>
            <div class="my-2">
                <label for="">Номер телефона
                    <input class="input" type="text"
                    placeholder="88004441818 или +78004441818" name="link_num">
                </label>
            </div>
        </div>
        <div class="column"></div>
    </div>

    <div class="columns">
        <div class="column"></div>
        <div class="column is-three-quarters">
            <div class="field">
                <div class="control">
                    <input type="submit" class="button is-info" value="Дальше">
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</form>