<form action="{{ url_for('quest_block_1') }}" method="post">

    <div class="quest-block">
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="ismale" id="ismale0" value="0" required>
            <label class="form-check-label" for="ismale0">Женский</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="ismale" id="ismale1" value="1">
            <label class="form-check-label" for="ismale1">Мужской</label>
        </div>
    </div><hr>
    
    <div class="quest-block">
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="age" id="age0" value="0" required>
            <label class="form-check-label" for="age0">До 23 лет</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="age" id="age1" value="1">
            <label class="form-check-label" for="age1">От 23 до 27 лет</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="age" id="age2" value="2">
            <label class="form-check-label" for="age2">От 27 до 32 лет</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="age" id="age3" value="3">
            <label class="form-check-label" for="age3">От 32 до 37 лет</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="age" id="age4" value="4">
            <label class="form-check-label" for="age4">От 37 и старше</label>
        </div>
    </div><hr>

    <div class="quest-block">
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="growth" id="growth0" value="0" required>
            <label class="form-check-label" for="growth0">до 165 см</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="growth" id="growth1" value="1">
            <label class="form-check-label" for="growth1">от 165 до 172 см</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="growth" id="growth2" value="2>
            <label class="form-check-label" for="growth2">от 172 до 178 см</label>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="radio"
            name="growth" id="growth3" value="3">
            <label class="form-check-label" for="growth3">от 178 см и выше</label>
        </div>
    </div>

    <input type="submit" class="btn btn-primary">
</form>