<form action="{{ url_for('quest_block_1') }}" method="post">
    <p class="is-size-5">Выберите свой пол</p>
    <div class="field">
        <div class="control">
            <label class="radio" for="ismale0">
                <input class="form-check-input invisible" type="radio" name="ismale" id="ismale0" value="0" required>
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename='img/gender/f.jpg') }}" class="is-rounded">
                </figure>
            </label>
            <label class="radio" for="ismale1">
                <input class="form-check-input invisible" type="radio" name="ismale" id="ismale1" value="1">
                <figure class="image is-128x128">
                    <img src="{{ url_for('static', filename='img/gender/m.jpg') }}" class="is-rounded">
                </figure>
            </label>
        </div>
    </div>
    <hr>
    <div class="columns">
        <div class="column">
            <p class="is-size-5">Выберите возраст</p>
            <div class="field">
                <div class="control">
                    <label class="radio" for="age0">
                        <input class="form-check-input" type="radio" name="age" id="age0" value="0" required>
                        До 23 лет
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="age1">
                        <input class="form-check-input" type="radio" name="age" id="age1" value="1">
                        От 23 до 27 лет
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="age2">
                        <input class="form-check-input" type="radio" name="age" id="age2" value="2">
                        От 27 до 32 лет
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="age3">
                        <input class="form-check-input" type="radio" name="age" id="age3" value="3">
                        От 32 до 37 лет
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="age4">
                        <input class="form-check-input" type="radio" name="age" id="age4" value="4">
                        От 37 и старше
                    </label>
                </div>
            </div>
        </div>
        <div class="column">
            <p class="is-size-5">Выберите рост</p>
            <div class="field">
                <div class="control">
                    <label class="radio" for="growth0">
                        <input class="" type="radio" name="growth" id="growth0" value="0" required>
                        до 165 см
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="growth1">
                        <input class="" type="radio" name="growth" id="growth1" value="1">
                        от 165 до 172 см
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="growth2">
                        <input class="" type="radio" name="growth" id="growth2" value="2">
                        от 172 до 178 см
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="radio" for="growth3">
                        <input class="" type="radio" name="growth" id="growth3" value="3">
                        от 178 см и выше
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input type="submit" class="button is-info" value="Дальше">
        </div>
    </div>
</form>