<form action="{{ url_for('login') }}" method="post">
    <div class="my-3">
        <input class="input is-danger is-rounded form-control" type="text" placeholder="Логин"
        id="login" name="login" required>
        <!-- <input type="text" class="form-control"
        id="login" name="login" required> -->
    </div>
    <div class="my-3">
        <input class="input is-danger is-rounded form-control" type="password" placeholder="Пароль"
        id="pass" name="password" required>
        <!-- <input type="password" class="form-control"
        id="pass" name="password" required> -->
    </div>
    <div class="text-center my-3"><input type="submit" class="button is-danger" value="Войти"></div>
</form>