<form action="{{ url_for('quest_block_4') }}" method="post">

    <p class="has-text-centered is-size-4">Выбери свой любимый жанр фильмов (не больше двух)</p>
    <div class="columns">
        <div class="column">
            <div class="my-3">
                <input class="form-check-input" type="checkbox" name="movieattitude0" id="movieattitude0" value="0"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude0">
                    <img src="{{ url_for('static', filename='img/ico/movie/1.png') }}" width="21" height="21">
                    Комедия
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude1" id="movieattitude1" value="1"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude1">
                    <img src="{{ url_for('static', filename='img/ico/movie/2.png') }}" width="21" height="21">
                    Боевик
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude2" id="movieattitude2" value="2"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude2">
                    <img src="{{ url_for('static', filename='img/ico/movie/3.png') }}" width="21" height="21">
                    Ужасы
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude3" id="movieattitude3" value="3"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude3">
                    <img src="{{ url_for('static', filename='img/ico/movie/4.png') }}" width="21" height="21">
                    Триллер
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude4" id="movieattitude4" value="4"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude4">
                    <img src="{{ url_for('static', filename='img/ico/movie/5.png') }}" width="21" height="21">
                    Драма
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude5" id="movieattitude5" value="5"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude5">
                    <img src="{{ url_for('static', filename='img/ico/movie/6.png') }}" width="21" height="21">
                    Мелодрама
                </label>
            </div>
        </div>
        <div class="column">
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude6" id="movieattitude6" value="6"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude6">
                    <img src="{{ url_for('static', filename='img/ico/movie/7.png') }}" width="21" height="21">
                    Детектив
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude7" id="movieattitude7" value="7"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude7">
                    <img src="{{ url_for('static', filename='img/ico/movie/8.png') }}" width="21" height="21">
                    Фантастика
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude8" id="movieattitude8" value="8"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude8">
                    <img src="{{ url_for('static', filename='img/ico/movie/9.png') }}" width="21" height="21">
                    Мюзикл
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude9" id="movieattitude9" value="9"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude9">
                    <img src="{{ url_for('static', filename='img/ico/movie/10.png') }}" width="21" height="21">
                    Приключения
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude10" id="movieattitude10" value="10"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude10">
                    <img src="{{ url_for('static', filename='img/ico/movie/11.png') }}" width="21" height="21">
                    Аниме
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="movieattitude11" id="movieattitude11" value="11"
                    onclick="selectMovieHandle(this);">
                <label class="form-check-label" for="movieattitude11">
                    <img src="{{ url_for('static', filename='img/ico/movie/12.png') }}" width="21" height="21">
                    Мультфильм
                </label>
            </div>
        </div>
    </div>
    <hr>
    <p class="has-text-centered is-size-4">Выбери свой любимый жанр литературы (не больше двух)</p>
    <div class="columns">
        <div class="column">
            <div class="my-3">
                <input class="form-check-input" type="checkbox" name="litattitude0" id="litattitude0" value="0"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude0">
                    <img src="{{ url_for('static', filename='img/ico/book/1.png') }}" width="21" height="21">
                    Фантастика
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude1" id="litattitude1" value="1"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude1">
                    <img src="{{ url_for('static', filename='img/ico/book/2.png') }}" width="21" height="21">
                    Роман
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude2" id="litattitude2" value="2"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude2">
                    <img src="{{ url_for('static', filename='img/ico/book/3.png') }}" width="21" height="21">
                    Поэзия
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude3" id="litattitude3" value="3"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude3">
                    <img src="{{ url_for('static', filename='img/ico/book/4.png') }}" width="21" height="21">
                    Научная литература
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude4" id="litattitude4" value="4"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude4">
                    <img src="{{ url_for('static', filename='img/ico/book/5.png') }}" width="21" height="21">
                    Комикс
                </label>
            </div>
        </div>
        <div class="column">
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude5" id="litattitude5" value="5"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude5">
                    <img src="{{ url_for('static', filename='img/ico/book/6.png') }}" width="21" height="21">
                    Бизнес литература
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude6" id="litattitude6" value="6"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude6">
                    <img src="{{ url_for('static', filename='img/ico/book/7.png') }}" width="21" height="21">
                    Историческая литература
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude7" id="litattitude7" value="7"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude7">
                    <img src="{{ url_for('static', filename='img/ico/book/8.png') }}" width="21" height="21">
                    Биография
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude8" id="litattitude8" value="8"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude8">
                    <img src="{{ url_for('static', filename='img/ico/book/9.png') }}" width="21" height="21">
                    Детектив
                </label>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" name="litattitude9" id="litattitude9" value="9"
                    onclick="selectLitHandle(this);">
                <label class="form-check-label" for="litattitude9">
                    <img src="{{ url_for('static', filename='img/ico/book/10.png') }}" width="21" height="21">
                    Сатира
                </label>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input type="submit" class="button is-info" value="Дальше">
        </div>
    </div>
</form>