{% extends 'base.html' -%}

{% block content -%}
<div class="column is-half-desktop is-full-mobile is-four-fifths-tablet">
    {% include 'flash.html' %}
    <div class="card my-5">
        <div class="card-content">
            <div class="content">
                <p class="has-text-centered is-size-4">Регистрация</p>
                <hr>
                {% include 'form-register.html' -%}
            </div>
        </div>
    </div>

    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box my-4">
                <p class="has-text-centered is-size-4">Авторизация</p>
                <hr>
                {% include 'form-login.html' -%}
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="modal-start" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <section class="modal-card-body">
                <section class="hero">
                    <div class="hero-body">
                        <div class="container has-text-centered">
                            <p class="title has-text-grey-light">
                                Привет, Тензоровец!
                            </p>
                            <br/>
                            <p class="subtitle has-text-grey-light">
                                Если ты здесь, значит готов к поиску близких по духу и интересам людей. Это правильное
                                решение! Любишь смотреть ужасы, слушать зажигательную музыку, вышивать узоры или
                                кататься на
                                сноуборде? Отлично! Настало время открыть своё сердце новым знакомствам. Жми
                                «продолжить» и
                                погнали
                            </p>
                        </div>
                    </div>
                </section>
                <div class="is-flex is-justify-content-center">
                    <img src="{{ url_for('static', filename='img/ico/hello2.png') }}">
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-info mx-auto">Продолжить</button>
            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>

<script>
    let needOpen = "{{ modal }}";
</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock content -%}