{% extends 'base.html' -%}

{% block content -%}
{% include 'flash.html' %}

<div class="person-form mx-auto is-flex is-flex-direction-row">
    <div class="card person-card">
        <div class="person-identikit">
            {% for part, path in data.paths.items() -%}
            <img src="{{ url_for('static', filename='{}'.format(path)) }}"
            alt="template" class="{{ part }}_kit person-image-kit">
            {% endfor -%}
        </div>
        <div class="card-content person-card-content">
            <div class="media">
                {% if own or open %}
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="{{ url_for('userava', user_id=id) }}"
                        alt="Placeholder image">
                    </figure>
                </div>
                {% endif %}
                <div class="media-content">
                    <p class="title is-4">{{ data.present.name | title }}</p>
                    {% if own or open %}
                    {% for link in data.present.links.values() -%}
                    {% if link != "NULL" %}
                    <p class="subtitle is-6"><a>{{ link }}</a></p>
                    {% endif %}
                    {% endfor -%}
                    {% endif %}
                </div>
            </div>

            <div class="content is-flex is-flex-direction-row
            is-justify-content-center mt-4">

                {% if own %}
                <button type="button" class="button is-danger is-rounded person-control">
                    <a href="{{ url_for('enter_requests') }}">Посмотреть заявки</a>
                </button>
                {% elif open %}
                <button class="button is-danger is-rounded person-control"
                type="button" disabled>
                    Заявка принята
                </button>
                {% else %}
                <button type="button" class="button is-danger is-rounded person-control"
                id="sendButton" onclick="sendRequest(this.id, userId);">
                    Хочу общаться
                </button>
                {% endif %}
                <button type="button" class="button is-danger is-rounded person-control">
                    <a href="{{ url_for('view_page') }}">Найти пару</a>
                </button>
            </div>
        </div>
    </div>
    <div class="form-part">
        {% for field in data.form.values() -%}
        <p><span>{{ field.title }}</span> - <span>{{ field.value }}</span></p>
        {% endfor -%}
    </div>
</div>

<script>
    let userId = "{{ id }}";
</script>

<script src="{{ url_for('static', filename='js/person-page.js') }}"></script>
{% endblock content -%}
