{% extends 'base.html' -%}

{% block content -%}

<div class="card">
    <div class="card-image has-text-centered person-image-card">
        
        {% if open and not own %}
        <figure class="image is-square">
            <img src="{{ url_for('userava', user_id=id) }}" alt="Placeholder image" class="person-image-box person-image-real">
        </figure>
        {% else %}
        <img src="/static/img/brows/m/brows9.png" alt="template" style="visibility: hidden;">
        {% for part, path in data.paths.items() -%}
        <img src="{{ url_for('static', filename='{}'.format(path)) }}" alt="template"
            class="{{ part }}_kit person-image">
        {% endfor -%}
        {% endif %}
    </div>
    <hr>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                {% if own %}
                <figure class="image is-square is-96x96">
                    <img src="{{ url_for('userava', user_id=id) }}" alt="Placeholder image" class="is-rounded person-image-mini">
                </figure>
                {% endif %}
            </div>
            <div class="media-content">
                <p class="title is-4">{{ data.present.name }}</p>
                {% if own or open %}
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td>
                                {% if data.present.links.link_vk.value != 'NULL' %}
                                <a href="{{ data.present.links.link_vk.value }}">
                                    {{ data.present.links.link_vk.title }}
                                </a>
                                {% else %}
                                <p>{{ data.present.links.link_vk.title }}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if data.present.links.link_inst.value != 'NULL' %}
                                <a href="{{ data.present.links.link_inst.value }}">
                                    {{ data.present.links.link_inst.title }}
                                </a>
                                {% else %}
                                <p>{{ data.present.links.link_inst.title }}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if data.present.links.link_num.value != 'NULL' %}
                                <p>{{ data.present.links.link_num.value }}</p>
                                {% else %}
                                <p>{{ data.present.links.link_num.title }}</p>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <div class="content">
            <table class="table is-stripped is-hoverable">
                <tbody>
                    {% for field in data.form.values() -%}
                    <tr>
                        <td><span>{{ field.title }}</span></td>
                        <td><span>{{ field.value }}</span></td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        </div>
        <div class="columns mx-4 mb-2">
            <div class="column">
                {% if own %}
                <a href="{{ url_for('enter_requests') }}">
                    <button type="button" class="button is-warning is-fullwidth">
                        Заявки
                    </button>
                </a>
                {% elif open %}
                <button class="button is-warning is-fullwidth" type="button" disabled>
                    Заявка принята
                </button>
                {% else %}
                <button class="button is-warning is-fullwidth" id="sendButton" onclick="sendRequest(this.id, userId);">
                    <span>Хочу общаться</span>
                </button>
                {% endif %}
            </div>
            <div class="column is-one-third"></div>
            <div class="column">
                {% if available %}
                <a href="/view-page">
                    <button class="button is-danger is-fullwidth">
                        <span>Поиск</span>
                    </button>
                </a>
                {% else %}
                <a href="#">
                    <button class="button is-danger is-fullwidth" disabled>
                        <span>Скоро</span>
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    let userId = "{{ id }}";
</script>

<script src="{{ url_for('static', filename='js/person-page.js') }}"></script>
{% endblock content -%}