{% extends 'base.html' -%}

{% block content -%}

<div class="column is-half-desktop is-full-mobile is-four-fifths-tablet">
    <div class="is-centered">
        <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
                <li><a>Основное</a></li>
                <li><a>Аватар</a></li>
                <li><a>Хобби</a></li>
                <li><a>Вкусы</a></li>
                <li class="is-active"><a class="has-text-weight-bold">Ссылки</a></li>
            </ul>
        </nav>
        <div class="card my-4">
            <div class="card-content">
                <div class="content">
                    {% include 'form-quest-block-5.html' -%}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/quest-block-5.js') }}"></script>
{% endblock content -%}