{% extends 'base.html' -%}

{% block head -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head -%}

{% block content -%}
{% for cat, msg in get_flashed_messages(True) -%}
    <div class="alert {{ cat }} alert-dismissible fade show central-div-500" role="alert"> {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor -%}

    <a href="{{ url_for('logout') }}">Выйти из профиля</a>
    <div class="form-500w mx-auto mt-4 fs-5">
        <p class="fs-3 fw-bold text-center">Заполни анкету</p><hr>
        <form action="{{ url_for('quest_block_3') }}" method="post">

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="isbeard" id="isbeard">
                <label class="form-check-label" for="isbeard">
                    Ростишь бороду?
                </label>
            </div>
            <hr>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="isglasses" id="isglasses">
                <label class="form-check-label" for="isglasses">
                    Носишь очки?
                </label>
            </div>
            <hr>
            <div class="form-check">
                <label class="form-check-label">
                    Жанр
                </label>
            </div>
            <hr>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sportattitude" id="sportattitude1" value="0" required>
                <label class="form-check-label" for="sportattitude1">
                    Очень хорошо, регулярно занимаюсь
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="sportattitude" id="sportattitude2" value="1">
                <label class="form-check-label" for="sportattitude2">
                    Больше болельщик, чем спортсмен 
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="sportattitude" id="sportattitude3" value="2">
                <label class="form-check-label" for="sportattitude3">
                    Ни то, ни другое 
                </label>
            </div>
            <hr>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tasteattitude" id="tasteattitude1" value="0">
                <label class="form-check-label" for="tasteattitude1">
                    Сладкое
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="tasteattitude" id="tasteattitude2" value="1">
                <label class="form-check-label" for="tasteattitude2">
                    Соленое
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="tasteattitude" id="tasteattitude3" value="2">
                <label class="form-check-label" for="tasteattitude3">
                    Острое
                </label>
            </div>
            <hr>
            <div class="form-check">
                <label class="form-check-label">
                    Хобби
                </label>
            </div>
            <hr>
            <div class="mt-3 mx-auto">
                <input class="btn btn-success" type="submit" value="Продолжить">
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/quest-block-3.js') }}"></script>
{% endblock content -%}